<div class="section-container">
<%if logged_in?%>
 <%=erb :'/questions/_vote_button'%>
 <%end%>
<div class="text-content">
  <%= @question.content %>
</div>
  <ul class="tags">
  <% @question.tags.each do |tag| %>
    <li class="tag"><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
  <% end %>
</ul>
  <%= @question.created_at %>
  <%= @question.user.username %>


