<div class="vote-buttons">
  <%if current_user.has_upvote?(@question.id, "Question")%>
    <a class = "au red-arrow-up" href='/questions/<%=@question.id%>/upvote'></a><br>
    <div class="vote-count"><%= @question.vote_count %></div>
  <%else%>
    <a class = "au arrow-up" href='/questions/<%=@question.id%>/upvote'></a><br>
    <div class="vote-count"><%= @question.vote_count %></div>
  <%end%>
  <%if current_user.has_downvote?(@question.id, "Question")%>
    <a class= "ad red-arrow-down" href='/questions/<%=@question.id%>/downvote'></a><br>
  <%else%>
    <a class= "ad arrow-down" href='/questions/<%=@question.id%>/downvote'></a><br>
  <%end%>
</div>
