<%if @errors%>
<ul>
  <%@errors.each do |error|%>
  <li><%=error%></li>
    <%end%>
  </ul>
  <%end%>
<div class="question-form">
  <form method='post' action='/questions/<%=@question.id%>'>
    <input type="hidden" name="_method" value="put">
  <label for="title">Title:</label>
  <input class="question-text" type='text' name="title" value="<%=@question.title%>"><br>
  <textarea class="question-content" id="question-content" name="content"><%=@question.content%></textarea><br>
  <input class="tags-text" type='text' name="tags" value="<%=@question.tags_string%>">
  <input class="question-button" type="submit" value="Create">
</form>
</div>
