<main class="container">
  <h1 class="question-title"><%= @question.title %> </h1>
  <%=erb :'/questions/_question_format'%>
  <%=erb :'/questions/_edit_and_delete'%>
  <%=erb :'/questions/_answer_question_form'%>
  <%=erb :'/questions/_question_comment_format'%>
  <%=erb :'/questions/_best_answer_format'%>
  <%=erb :'/questions/_question_answer_format'%>

</main>
