<main class="container">
  <h1>show page for <%= @question.title %> </h1>
  <% if logged_in? %>
    <% if author?(@question) %>
    <a href="/questions/<%=@question.id%>/edit">Edit</a>
     <form method="post" action="/questions/<%= @question.id %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    <% end %>
    <%end%>
  <!-- Question-->
  Question vote count: <span class="vote-count"><%= @question.vote_count %></span> <br>
  <%if current_user.has_upvote?(@question.id, "Question")%>
  <a class = "au red-arrow-up" href='/questions/<%=@question.id%>/upvote'></a><br>
  <%else%>
  <a class = "au arrow-up" href='/questions/<%=@question.id%>/upvote'></a><br>
  <%end%>
  <%if current_user.has_downvote?(@question.id, "Question")%>
  <a class= "ad red-arrow-down" href='/questions/<%=@question.id%>/downvote'></a><br>
  <%else%>
  <a class= "ad arrow-down" href='/questions/<%=@question.id%>/downvote'></a><br>
  <%end%>
  <%= @question.content %>
  <% @question.tags.each do |tag| %>
    <br><a href="/tags/<%= tag.id %>"><%= tag.name %></a>
  <% end %>
  <%= @question.created_at %>
  <%= @question.user.username %>

  <a class = "clicker" href="">Comment On Question</a>
  <div class="hideable hidden">
    <form id="comment-question" method="post" action="/questions/<%=@question.id %>/comments">
      <textarea rows="4" cols="50" name="content"></textarea> <br />
      <input type="submit" value="Comment" >
    </form>
  </div>
  <!-- Comments -->
  <div class="question-comments-wrapper">
  <% @question.comments.each do |comment| %>
        <div class="comment-wrapper">
    <br><%= comment.content %>
    <br><a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a><br>
    <%= comment.created_at %> <br>
  </div>
  <% end %>
  </div>
  <!-- The very best answer -->
  <div class="best-answer-wrapper">
  <%if @question.best_answer?%>

  <br>Answer vote count: <%= @question.best_answer.answer_vote_count %> <br>
  <%= @question.best_answer.content %>
  <%= @question.best_answer.created_at %>
  <a href="/users/<%= @question.best_answer.user.id %>"><%= @question.best_answer.user.username %></a>
  <%end%>
  < /div>
  <!-- answer -->

  <% @question.answers.each do |answer| %>
        <div class="answer-wrapper">
    <%unless answer.best_answer?(@question.best_answer.id)%>
    <br>Answer vote count: <%= answer.answer_vote_count %> <br>
    <%= answer.content %>
    <%= answer.created_at %>
    <a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a>
    <br><br>

    <div class="answer-comments-wrapper">
      <% answer.comments.each do |comment| %>
      <div class="comment-wrapper">
        Comment:<br><%= comment.content %>
        <br><a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a><br>
        <%= comment.created_at %> <br>
      </div>
    <% end %>
    </div>

  <a class = "clicker" href="">Comment on Answer</a>
  <div class="hideable hidden">
    <form id="comment-on-answer-form" method="POST" action="/questions/<%= @question.id %>/answers/<%= answer.id %>/comment">
      <textarea rows="4" cols="50" name="content"></textarea> <br />
      <input type="submit" value="Comment" >
    </form>
  </div>
    </div>
    <%end%>
  <%end%>
</div>
<!-- the very best answer will be interpolated appropriately, but then it needs to add a css class of 'hidden' to it when we come back with the jquery stuff. -->
  <a class = "clicker" href="">Answer the question</a>
  <div class="hideable hidden">
  <form method="POST" action="/questions/<%= @question.id %>/answer">
    <textarea rows="4" cols="50" name="content"></textarea> <br />
    <input type="submit" value="Answer" >

  </form>
</div>



</main>
