  <div class="answers-wrapper"><br>Answer vote count: <%= answer.answer_vote_count %>
  <br>
  <%= answer.content %>
  <%= answer.created_at %>
  <a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a>
  <br>
  <br>
</div>
